<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Your Result</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Inconsolata" />
      <link th:href="@{/css/general.css}" rel="stylesheet" />
   </head>
   <body>
      <div class="smooth">
         <header>
            <a href='/'><h3>Personalitest!</h3></a>
         </header>
         <div class="main">
            <div>
               <svg class="title">
                  <text x="0" y="40" th:text="'You are '+ ${result}"></text>
               </svg>
               <p class="lead">
                  Did you expect this result? Its so interesting to find out which type we are​!
                  Feel free to share the quiz with your friends!                
               </p>
            </div>
            <form>
               <a class="button" href="/" com > Go Back</a>
            </form>
         </div>
         <footer id="bottom">
            <div class="copy">
               <p> © 2023 André Franco</p>
            </div>
         </footer>
      </div>
   </body>
</html>
