<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Personalitest!</title>
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Inconsolata" />
      <link th:href="@{/css/general.css}" rel="stylesheet" />
   </head>
   <body>
      <div class="smooth">
         <header>
            <a href='/'><h3>Personalitest!</h3></a>
         </header>
         <div class="main ">
               <div>
                  <svg class="title">
                     <text x="0" y="40">Are you an extrovert or introvert?</text>
                  </svg>
                  <p class="lead">
                     Your answer is at 21 questions away! This simple quiz will help you understand 
                  </p>
                  <p class="lead">
                     "To work well with other people, you need to understand their personalities and they need to understand yours." - Adam Grant
                  </p>
               </div>
               <form>
                  <a class="button" href="/personalitest">Start now!</a>
               </form>
         </div>
         <footer id="bottom">
            <div class="copy">
               <p> © 2023 André Franco</p>
            </div>
         </footer>
      </div>
   </body>
</html>
