<!DOCTYPE html>
<html lang="en">
  <head>
    <title th:text="'Question ' + ${question.testOrder}"> </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Inconsolata">
    <link th:href="@{/css/general.css}" rel="stylesheet" />  </head>
  <body>
    <div class="smooth">
      <header>
            <a href='/'><h3>Personalitest!</h3></a>
      </header>
      <div class="main">
          <div>
            <h2 th:text="${question.question}" style="font-size: 30px" />
            <div th:each="answer: ${question.answers}">
	     		<a class="button" th:text="${answer.answer}" th:onclick="myFunction([[(${answer.testChar})]])"></a>
			</div>
        </div>
      </div>
      <footer id="bottom">
        <div class="copy">
          <p>
            © 2023 André Franco</a></p>
        </div>
      </footer>
    </div>
    <script>
	function myFunction(answer) {
	  if(window.location.search == ""){
	  	window.location =  "?answers=" + answer;
	  }else{
	  	window.location = window.location.search + answer;
	  }
	}
</script>
  </body>
</html>